<body>
    <div class="container position-relative bg-white d-flex p-0">
      <%= render "shared/sidebar" %>
      <!-- Content Start -->
      <div class="container mt-3">
        <div class="text-center">
          <h1>Categories</h1>
        </div>
        <table class="table table-hover mt-3 text-center">
          <thead>
            <tr>
                <th><h3>Name</h3></th>
                <th><h3>Position</h3></th>
                <th><h3>Actions</h3></th>
            </tr>
          </thead>
          <tbody>
            <% @categories.each do |category| %>
              <tr>
                <td><%= category.name %></td>
                <td><%= category.position %></td>
                <td>
                  <%= link_to 'Show', category, class: "btn btn-outline-primary my-1" %>
                  <%= link_to 'Edit', edit_category_path(category), class: "btn btn-outline-secondary my-1" %>
                  <%= link_to 'Deactive', deactive_category_path(category), data: { turbo_method: "patch", turbo_confirm: "Are you sure?" }, class: "btn btn-outline-danger my-1", remote: true %>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= link_to 'ADD New Category', new_category_path, class: "btn btn-outline-primary my-1" %>
      </div>
    </div>
</body>
