<body>
    <div class="container position-relative bg-white d-flex p-0">
      <%= render "shared/sidebar" %>
      <!-- Content Start -->
      <div class="container">
        <h1>Category Details</h1>
        <dl>
          <dt>Name</dt>
          <dd><%= @category.name %></dd>
          <dt>Position</dt>
          <dd><%= @category.position %></dd>
        </dl>
        <%= link_to 'Edit', edit_category_path(@category), class: "btn btn-outline-primary my-1" %>
        <%= link_to 'Back', categories_path, class: "btn btn-outline-primary my-1" %>
      </div>
    </div>
</body>